FRONTEND_BASE_URL=https://advprog-frontend-m25-m50-383620816191.us-central1.run.app
AUTH_BASE_URL=https://auth-profile-api-383620816191.us-central1.run.app
INVENTORY_BASE_URL=https://inventory-api-383620816191.us-central1.run.app
WALLET_BASE_URL=https://wallet-api-383620816191.us-central1.run.app
ORDER_BASE_URL=https://order-api-383620816191.us-central1.run.app
VOUCHER_BASE_URL=https://voucher-promo-api-383620816191.us-central1.run.app
VOUCHER_ADMIN_TOKEN=
INTERNAL_API_TOKEN=
HEADLESS=false
BROWSER=edge
DEFAULT_TOPUP_AMOUNT=1000000
DEFAULT_PRODUCT_ID=66666666-6666-6666-6666-666666666666
DEFAULT_VOUCHER_CODE=MILESTONE10
SHIPPING_ADDRESS=Jl. Mawar No. 1, Jakarta
ARTIFACTS_ROOT=verification-artifacts
CONCURRENCY_WORKERS=25
CONCURRENCY_PRODUCT_ID=66666666-6666-6666-6666-666666666666
AUTO_DETECT_FRONTEND_ORIGIN=true
