VITE_AUTH_BASE_URL=http://localhost:8081
VITE_INVENTORY_BASE_URL=http://localhost:8082
VITE_WALLET_BASE_URL=http://localhost:8083
VITE_ORDER_BASE_URL=http://localhost:8084
VITE_VOUCHER_BASE_URL=http://localhost:8085
