# Copy this file to .env and update the values
# Each variable points to the respective backend microservice URL

VITE_AUTH_PROFILE_URL=http://localhost:8081
VITE_ORDER_URL=http://localhost:8082
VITE_VOUCHER_PROMO_URL=http://localhost:8083
VITE_WALLET_URL=http://localhost:8084
VITE_INVENTORY_URL=http://localhost:8085
